{% extends 'base.html.twig' %}

{% block title %}Nos Produits!
{% endblock %}

{% block body %}
	<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

		{% for item in products %}
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">
					<div class="card-header py-3">
						<h4 class="my-0 fw-normal">{{item.name}}</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">{{item.price}}<small class="text-muted fw-light">€</small>
						</h1>
						<div>
							{{item.description}}
						</div>
						{% if is_granted("ROLE_USER") %}
							<a href="{{path('addpanier', {'id': item.id} )}}" class="w-100 btn btn-lg btn-outline-primary">Ajouter au panier</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
