{% extends 'backendbase.html.twig' %}

{% block pagetitle %}Ajouter une catégorie
{% endblock %}

{% block body %}

	{{ include('category/_form.html.twig') }}

	<a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
