@import "~bootstrap/scss/bootstrap";

$primary:       red;
$secondary:     green;
$success:       blue;
$info:          pink;
$warning:       yellow;
$danger:        red;
$light:         white;
$dark:          black;