<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Connexion · DWWM13</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('login') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('login') }}
		{% endblock %}
	</head>
	<body class="text-center">
		<main class="form-signin"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
